* {
  box-sizing: border-box;
  word-break: break-all;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h2,
p {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  width: 100%;
  padding: 20px 0;
  position: absolute;
}

.header-container {
  margin: 0 36px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  transition: opacity 0.2s;
  height: 21px;
}

.header-logo-pc {
  height: 20px;
}

.header-logo-sp {
  display: none;
  height: 16px;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-list {
  float: right;
}

.menu-icon {
  width: 30px;
  height: 21px;
  position: relative;
  display: none;
}

.menu-bar {
  background-color: #000;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 50%;
  border-radius: 10px;
  transform: translate(0, -50%);
}

.menu-bar:first-child {
  top: 0;
}

.menu-bar:last-child {
  top: 100%;
}

.header-list ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header-list li {
  margin-right: 45px;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
}

.header-list li:last-child {
  margin-right: 0;
}

.header-list li:hover {
  opacity: 0.8;
}

.header-list span {
  display: block;
  text-align: center;
  font-size: 10px;
}

.header-list span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.header-list-button {
  color: #FFF;
  font-size: 12px;
  background-color: #F79214;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 38px;
  transition: opacity 0.2s
}

.header-list-button:hover {
  opacity: 0.8;
}

.top-wrapper {
  background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0 28px;
}

.background-img-sp {
  display: none;
  width: 100%;
}

.top-container {
  max-width: 1140px;
  padding: 0 50px;
  margin: 0 auto;
}

.top-contents {
  width: fit-content;
  margin-bottom: 70px;
}

.top-images img {
  vertical-align: middle;
  margin-bottom: 25px;
  margin-right: 8px;
}

.top-images img:nth-child(2) {
  width: 40%;
}

.top-buttons {
  display: flex;
}

.top-btn {
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  transition: opacity 0.2s;
}

.top-btn:hover {
  opacity: 0.8;
}

.top-btn:first-child {
  color: #FFFFFF;
  background-color: #F79214;
  margin-right: 15px;
  width: 306px;
}

.top-btn:last-child {
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  width: 176px;
  box-sizing: border-box;
}

.top-container h2 {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  line-height: 54px;
  margin-bottom: 15px;
}

.top-container p {
  color: #A2A2A4;
  font-size: 12px;
}

.about-wrapper {
  background-color: #F79214;
  color: #FFFFFF;
  padding: 45px 0;
}

.about-container {
  max-width: 1140px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-contents {
  width: 53%;
}

.about-contents h2 {
  font-size: 40px;
  line-height: 74px;
  letter-spacing: 1px;
}

.about-contents span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.about-contents br {
  display: none;
}

.about-contents p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15px;
}

.about-button a {
  color: #F79214;
  font-weight: 700;
  width: 250px;
  height: 64px;
  background-color: #FFF;
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.about-button a:hover {
  opacity: 0.8;
}

.about-button span {
  display: block;
}

.about-button span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.about-button span:last-child {
  font-size: 12px;
  line-height: 18px;
}

/* レスポンシブデザイン用 */
@media (max-width: 1080px) {
  header {
    background-color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .header-list ul {
    display: none;
  }

  main {
    padding-top: 60px;
  }
}

@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
  }

  .about-contents {
    width: 100%;
  }

  .about-button {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 15px 0;
  }

  .header-container {
    margin: 0 20px;
  }

  .header-logo-pc {
    display: none;
  }

  .header-logo-sp {
    display: block;
  }

  main {
    padding-top: 52px;
  }

  .top-wrapper {
    background-image: none;
    padding: 0 0 35px;
  }

  .background-img-sp {
    display: block;
  }

  .top-container {
    margin-top: -45vw;
    padding: 0 20px;
  }

  .top-contents {
    margin-bottom: 20px;
    width: 100%;
  }

  .top-contents h2 {
    font-size: 25px;
    line-height: 36px;
  }

  .top-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .top-images img {
    width: 27.5%;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .top-images img:nth-child(2) {
    width: 40%;
  }

  .top-images img:last-child {
    margin-right: 0;
  }

  .top-buttons {
    flex-direction: column;
  }

  .top-btn:first-child {
    width: 100%;
    font-size: 14px;
    margin: 0 0 10px;
  }

  .top-btn:last-child {
    width: 100%;
    font-size: 14px;
    height: 45px;
  }

  .about-wrapper {
    padding: 30px 0;
  }

  .about-container {
    padding: 0 20px;
  }

  .about-contents h2 {
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
  }

  .about-contents span {
    font-size: 33px;
  }

  .about-contents br {
    display: block;
  }

}
